<div class="container">
  <div class="row">

    <main class="col-sm-12 col-md-12 pt-3">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1>Production</h1>
        </div>
        <div class="col-md-6 col-sm-6 text-right">
          <a class="btn btn-primary" href="#" role="button">Add</a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Skills</th>
              <th class="text-center">Management</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employees">
              <td>{{emp.id}}</td>
              <td>{{emp.name}}</td>
              <td>
                <span *ngFor="let skill of emp.skills" class="badge badge-success" style="margin-right: 5px">
                  {{skill.name}}
                </span>
              </td>
              <td class="text-center">
                <a class="btn btn-info" href="" role="button">View</a>
                <a class="btn btn-warning" href="" role="button">Edit</a>
                <a class="btn btn-danger" href="" role="button">Delete</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
